## en-tête des requêtes :

In [1]:
import requests

api_url = 'https://development.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token='Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJydXRUeHJ5dlltOUVZcGhpRjRxak45ajFvTktLNnU4YUhuM1QySFFSUU5FIn0.eyJleHAiOjE2NjMwNzExMzMsImlhdCI6MTY2MzA1MzEzMywiYXV0aF90aW1lIjoxNjYzMDUzMTMyLCJqdGkiOiJiYmViZDY1ZC00ODgwLTQ3MDUtOTdiOS1kNWNjYjFjOWFjZjIiLCJpc3MiOiJodHRwczovL2RldmVsb3BtZW50LmF1dGgud2FuZGVlZC5jb20vYXV0aC9yZWFsbXMvd2FuZGVlZC1yZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzMWZmODY3NC1iOGZhLTQyMmYtYWM3NC02YzFjZGI2YTUwZGUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ3YW5kZWVkLWNsaWVudCIsIm5vbmNlIjoiMDY1MjU1NmMtMjA2Ny00ZTA3LTg2N2ItZTU3YTc4ZGFmNGQxIiwic2Vzc2lvbl9zdGF0ZSI6IjJlNTNhMDJmLWQ0YTQtNDU5OS05YjRhLWI0YjZmMDM2MTY0YyIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cHM6Ly8qLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXBpLndhbmRlZWQuY29tLyoiLCIqIiwiaHR0cHM6Ly8qLmFkbWluLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXV0aC53YW5kZWVkLmNvbSJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiZGVmYXVsdC1yb2xlcy13YW5kZWVkLXJlYWxtIiwib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoib3BlbmlkIGVtYWlsIHByb2ZpbGUiLCJzaWQiOiIyZTUzYTAyZi1kNGE0LTQ1OTktOWI0YS1iNGI2ZjAzNjE2NGMiLCJ1dGxfc3BrdXRpbGlzYXRldXIiOjEsInV0bF91dGlsaXNhdGV1cl9yb2xlcyI6IlsxXSIsInV0bF9jcHJlbm9tIjoiR2F5bG9yZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJ1dGxfc2FwcGFydGVuYW5jZSI6WzIsMzhdLCJ1dGxfY25vbSI6IlBldGl0IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwibG9jYWxlIjoiZnIiLCJnaXZlbl9uYW1lIjoiR2F5bG9yZCIsInV0bF9zZmtpbnN0YW5jZSI6MSwidXRsX3NhZG1pbmlzdHJlciI6W10sIm5hbWUiOiJHYXlsb3JkIFBldGl0IiwidXRsX3Nkcm9pdHNhY2NlcyI6WzYwLDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3XSwiZmFtaWx5X25hbWUiOiJQZXRpdCIsImVtYWlsIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwidXNlcl9ncm91cHMiOlsyLDM4LDYwLDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3XX0.DGvq43C3ZqBNi7-ZUmrHXm5_iV7nC5gAo-d4cRhdYU8KjsB9N6i4IKxPFPnbalHJpZe9g4MGiZdWGbVYnBstuNcT5ioQOrlZP1BWUmN8Nkq-yYrnL3uHf7VB8mixOAu0b3kpF7r2XoytCvslDFBGaDcWGPJkIdMNFHw3fMKT-smjj1DTP01RuSUc-ItGHn3-CBBDkEocpwTTfBTEDEwcFZ1n69ct1XjYQPuNvKp2PCoje3Y68h6tGSllhOp6ikksx7-inXvMZ6u9ucoshrAkBvb2PLTkQ6cEZxdqz-ymJQsx4N3pxp71-S0xAsSFM8l9JlQ4Ittkmz1ReDkEKi0Vpw'

headers={'Authorization': f'{access_token}',
             'Content-Type':'application/json'}

In [13]:
url = 'http://127.0.0.1:8000/get_data_task_assigner'
res = requests.get(url)

### dict PROJET -> Liste Utilisateurs

In [16]:
res.json()['STATUT_RECUPERATION_DONNEES']

'SUCCES'

In [174]:
# import librairies
import numpy as np
import pandas as pd

## RECUPERATION DES DONNEES :
# recuperation matrice_projet
df_prj = pd.DataFrame(res.json()['matrice_projet']['data']['result'])
# recuperation matrice_competence : on oublie les compétences pour lesquels les utl sont indéfinis
df_cmp = pd.DataFrame(res.json()['matrice_competence']['data']['result']).dropna().reset_index(drop=True).astype(int)
# recuperation des taches à assigner :
df_tsk = pd.DataFrame(res.json()['taches']['data']['result'])
# recuperation des disponibilites utl :
df_dsp = pd.DataFrame(res.json()['dispos_utilisateurs']['data']['result'])



## CONVERSION DES IDS Wandeed en Identifiant local pour certaines variables
# sauvegarde des id utilisateurs ET conservation des ids_utl uniques
lst_utl = []
lst_utl.append(list(np.unique(df_prj['utl_spkutilisateur'])))
lst_utl.append(list(np.unique(df_cmp['emc_sfkutilisateur'])))
id_utl = list(np.sort(np.unique(np.sum(lst_utl,dtype=object))))

# id_utl vers entier (local) ET entier (local) vers id_utl
utl_to_int = {_id : _int for _int,_id in enumerate(id_utl)}
int_to_utl = {_int: _id  for _int,_id in enumerate(id_utl)}

# sauvegarde des id projets ET conservation des ids_prj uniques
lst_prj = []
lst_prj.append(list(np.unique(df_prj['int_sfkprojet'])))
lst_prj.append(list(np.unique(df_tsk['evt_sfkprojet'])))
id_prj = list(np.sort(np.unique(np.sum(lst_prj,dtype=object))))

# id_prj vers entier (local) ET entier (local) vers id_prj
prj_to_int = {int(_id) : int(_int) for _int,_id in enumerate(id_prj)}
int_to_prj = {int(_int): int(_id)  for _int,_id in enumerate(id_prj)}

# sauvegardes des ids competences ET conservation des ids_cmp uniques
lst_cmp = []
lst_cmp.append(list(np.unique(df_cmp['emc_sfkarticle'])))
lst_cmp.append(list(np.unique(df_tsk['lgl_sfkligneparent'])))
id_cmp = list(np.sort(np.unique(np.sum(lst_cmp,dtype=object))))

# id_cmp vers entier (local) ET entier (local) vers id_cmp
cmp_to_int = {int(_id) : _int for _int,_id in enumerate(id_cmp)}
int_to_cmp = {int(_int): int(_id)  for _int,_id in enumerate(id_cmp)}

# sauvegardes des ids tsk ET conservation des ids_tsk uniques
lst_tsk = []
id_tsk = list(np.sort(np.unique(df_tsk['evt_spkevenement'])))


# id_tsk vers entier (local) ET entier (local) vers id_tsk
tsk_to_int = {int(_id) : int(_int) for _int,_id in enumerate(id_tsk)}
int_to_tsk = {int(_int): int(_id)  for _int,_id in enumerate(id_tsk)}

# Comptage nombre cmp, utl, tsk, prj.
n_cmp = len(id_cmp)
n_prj = len(id_prj)
n_tsk = len(id_tsk)
n_utl = len(id_utl)

# AJOUT DES VARIABLES LOCALES DANS LES DATAFRAMES

df_cmp['cmp'] = df_cmp['emc_sfkarticle'].map(cmp_to_int)
df_cmp['utl'] = df_cmp['emc_sfkutilisateur'].map(utl_to_int)
df_tsk['tsk'] = df_tsk['evt_spkevenement'].map(tsk_to_int)
df_tsk['cmp'] = df_tsk['lgl_sfkligneparent'].map(cmp_to_int)
df_tsk['prj'] = df_tsk['evt_sfkprojet'].map(prj_to_int)
df_prj['utl'] = df_prj['utl_spkutilisateur'].map(utl_to_int)
df_prj['prj'] = df_prj['int_sfkprojet'].map(prj_to_int)
df_dsp['utl'] = df_dsp['utl_spkutilisateur'].map(utl_to_int)

# commodités pour plus tard
df_cmp = df_cmp.sort_values(by='utl')

## RESOLUTION PROBLEME : CONSTRUCTION DES ARCS DE CORRESPONDANCES TACHES <-> UTILISATEUR
# construction d'un dictionnaire qui contient, pour chaque prjet, la liste des utilisateurs en faisant parti.
d_prj_to_utl = df_prj.groupby('prj')['utl'].apply(np.sort).to_dict()
# d_prj_to_utl

# construction matrice de cmp np.array
mat_cmp = np.zeros((n_cmp, n_utl)).astype(int)

# REMPLISSAGE MATRICE DE COMPETENCE

# ce dict est organisé en arborescence : utl//comp//niveau
d_utl_to_cmp_to_lvl = {}
utl_competants = list(np.unique(df_cmp['utl']))
for utl in utl_competants:
    d_utl_to_cmp_to_lvl[utl] = {}
    df_cmp_tmp = df_cmp.loc[df_cmp['utl']==utl,]
    for i, row in df_cmp_tmp.iterrows():
        cmp = row['cmp'] ; lvl = row['emc_sniveau'];
        d_utl_to_cmp_to_lvl[utl][cmp] = lvl
        
for utl in d_utl_to_cmp_to_lvl:
    for cmp in d_utl_to_cmp_to_lvl[utl].keys():
        lvl = d_utl_to_cmp_to_lvl[utl][cmp]
        mat_cmp[cmp, utl] = lvl
        
# REMPLISSAGE MATRICE PROJET :
mat_prj = np.zeros((n_prj, n_utl)).astype(int)
for prj in range(n_prj): 
    for utl in d_prj_to_utl[prj]:
        mat_prj[prj, utl] = 1

        
# # dictionnaire mapping utl -> dispo        
# d_utl_to_dsp = {int(row['utl']):row['utl_sdispo'] for _, row in df_dsp.iterrows()}          

# MOCKING pour les dsp utl#########################################################
d_utl_to_dsp = {utl:np.random.randint(15,50) for utl in range(n_utl)}

# DEFINITION DES ARCS
d_tsk_to_cmp = {int(row['tsk']):int(row['cmp']) for i, row in df_tsk.iterrows()}
d_tsk_to_prj = {int(row['tsk']):int(row['prj']) for i, row in df_tsk.iterrows()}
d_tsk_to_lgt = {int(row['tsk']):row['evt_dduree'] for i, row in df_tsk.iterrows()}

arcs = []
n_arcs = 0
cost_func = []
for tsk in range(n_tsk):
    for utl in range(n_utl):
        cmp = d_tsk_to_cmp[tsk]
        prj = d_tsk_to_prj[tsk]
        lvl = mat_cmp[cmp, utl]
        utl_on_prj = mat_prj[prj, utl]
        if lvl >= 0 and utl_on_prj : 
            arcs.append( tuple((tsk,utl)) )
            cost_func.append(lvl)
n_arcs = len(arcs)

# chaque tache a également la possibilité de ne pas être assignée, ce qui est fortement pénalisé
penalty = -100
for tsk in range(n_tsk):
    arcs.append(tuple((tsk,'not assigned')))
    cost_func.append(penalty)
    
    
# ajout des variables d'écart (slack variables)
cost_func += [0]*n_utl  
cost_func = np.array(cost_func)

# FABRICATION DES MATRICES A et B POUR RESOUDRE AX<=B

#equality constraints :
lst_lgt = [d_tsk_to_lgt[tsk] for tsk in range(tsk)]
A = np.zeros((n_tsk + n_utl , n_arcs + n_tsk + n_utl ))
b = np.zeros(n_tsk + n_utl)

# contrainte d'égalité : distribution de toutes les heures
for tsk in range(n_tsk):
    for idx_arc, arc in enumerate(arcs):
        if arc[0] == tsk: 
            A[tsk, idx_arc] = 1
    A[tsk, n_arcs + tsk ] = 1  # pour taches non assignees
    b[tsk] = d_tsk_to_lgt[tsk]
            
# contraintes d'inégalités : respect des disponibilités de travail
for utl in range(n_utl):
    for idx_arc, arc in enumerate(arcs):
        utl_2 = arc[1]
        if utl_2 == utl :
            A[n_tsk + utl, idx_arc] = 1
    A[n_tsk + utl, n_arcs + n_tsk + utl] = 1 # variable d'écart (slack variable)
    b[n_tsk + utl] = d_utl_to_dsp[utl]

C:\Users\antoi\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:86: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [172]:
len(solution)

139

In [182]:
from scipy.optimize import linprog
l = linprog(-cost_func,A_eq=A,b_eq=b,method="simplex",options={'maxiter':1500})
if l.status !=0 :
    l = linprog(-c, A_eq=A,b_eq=b,method='interior-point',options={'maxiter':1500})
    if l.status != 0:
        outcome = 'The system has no solution'
    else :
        outcome = 'success'
else :
    outcome = 'success'

solution = l.x

In [183]:
solution

array([ 0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  2.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  3.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.5 ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  2.5 ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  2.25,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        1.5 ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  2.5 ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  , 48.  , 27.  , 43.  , 23.  , 24.  , 27.  , 25.  ,
       11.  , 35.  , 35.  , 23.25])

In [184]:
len(solution)

139

In [185]:
len(arcs)

128

In [181]:
arcs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 5),
 (0, 7),
 (0, 10),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 5),
 (1, 6),
 (1, 7),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 5),
 (2, 6),
 (2, 7),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 5),
 (3, 6),
 (3, 7),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 5),
 (4, 7),
 (4, 10),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 5),
 (5, 7),
 (5, 10),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 5),
 (6, 7),
 (6, 10),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 5),
 (7, 7),
 (7, 10),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 5),
 (8, 7),
 (8, 10),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 5),
 (9, 7),
 (9, 10),
 (10, 0),
 (10, 1),
 (10, 2),
 (10, 3),
 (10, 5),
 (10, 7),
 (10, 10),
 (11, 0),
 (11, 1),
 (11, 2),
 (11, 3),
 (11, 5),
 (11, 7),
 (11, 10),
 (12, 0),
 (12, 1),
 (12, 2),
 (12, 3),
 (12, 5),
 (12, 7),
 (12, 10),
 (13, 0),
 (13, 1),
 (13, 2),
 (13, 3),
 (13, 5),
 (13, 7),
 (13, 10),
 (14, 0),
 (14, 1),
 (14, 2),
 (14, 3),
 (14, 5),
 (14, 7),
 (14, 10),
 (15, 0),
 (15, 1),
 (15, 2),
 (15, 3),
 (15, 5),
 (15, 7),
 (15, 10),
 (0, 'not assigned'),
 (1, 'not assigned'),
 (2, 'not assigned'),
 (3, 'not assigned'),
 (4, 'not assigned'),
 (5, 'not assigned'),
 (6, 'not assigned'),
 (7, 'not assigned'),
 (8, 'not assigned'),
 (9, 'not assigned'),
 (10, 'not assigned'),
 (11, 'not assigned'),
 (12, 'not assigned'),
 (13, 'not assigned'),
 (14, 'not assigned'),
 (15, 'not assigned')]

In [155]:
len(arcs)

128

In [156]:
len(solution)

139

In [157]:
n_arcs

128

In [159]:
def make_output_dataframe(solution, arcs):
    out = pd.DataFrame()
    for j in range(len(arcs)):
        if solution[j] > 0 :
            tsk, utl = arcs[j]
            out = out.append(pd.DataFrame({'tsk':[tsk],'utl':[utl],
                                           'duree_assignee':[solution[j]],
                                            'tsk_lgt':[d_tsk_to_lgt[tsk]]}))
    out.reset_index(drop=True,inplace=True)  
    return out

make_output_dataframe(solution, arcs)

    tsk  utl  duree_assignee  tsk_lgt
0     0   10            1.00     1.00
1     1    7            2.00     2.00
2     2    7            1.00     1.00
3     3    7            1.00     1.00
4     4   10            2.00     2.00
5     5   10            3.00     3.00
6     6   10            2.00     2.00
7     7   10            0.50     0.50
8     8   10            1.50     1.50
9     9   10            1.50     1.50
10   10   10            2.50     2.50
11   11   10            2.25     2.25
12   12   10            1.50     1.50
13   13   10            1.50     1.50
14   14   10            2.50     2.50
15   15   10            2.00     2.00

In [141]:
n_utl

11

In [138]:
solution

array([ 0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  2.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  3.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.5 ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  2.5 ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  2.25,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        1.5 ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  1.5 ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  2.5 ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  2.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  0.  , 33.  , 22.  , 19.  , 20.  , 33.  , 39.  , 47.  ,
       45.  , 37.  , 20.  ,  8.25])