## en-tête des requêtes :

In [20]:
import requests

api_url = 'https://development.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token='Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJydXRUeHJ5dlltOUVZcGhpRjRxak45ajFvTktLNnU4YUhuM1QySFFSUU5FIn0.eyJleHAiOjE2NjMwNzExMzMsImlhdCI6MTY2MzA1MzEzMywiYXV0aF90aW1lIjoxNjYzMDUzMTMyLCJqdGkiOiJiYmViZDY1ZC00ODgwLTQ3MDUtOTdiOS1kNWNjYjFjOWFjZjIiLCJpc3MiOiJodHRwczovL2RldmVsb3BtZW50LmF1dGgud2FuZGVlZC5jb20vYXV0aC9yZWFsbXMvd2FuZGVlZC1yZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzMWZmODY3NC1iOGZhLTQyMmYtYWM3NC02YzFjZGI2YTUwZGUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ3YW5kZWVkLWNsaWVudCIsIm5vbmNlIjoiMDY1MjU1NmMtMjA2Ny00ZTA3LTg2N2ItZTU3YTc4ZGFmNGQxIiwic2Vzc2lvbl9zdGF0ZSI6IjJlNTNhMDJmLWQ0YTQtNDU5OS05YjRhLWI0YjZmMDM2MTY0YyIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cHM6Ly8qLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXBpLndhbmRlZWQuY29tLyoiLCIqIiwiaHR0cHM6Ly8qLmFkbWluLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXV0aC53YW5kZWVkLmNvbSJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiZGVmYXVsdC1yb2xlcy13YW5kZWVkLXJlYWxtIiwib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoib3BlbmlkIGVtYWlsIHByb2ZpbGUiLCJzaWQiOiIyZTUzYTAyZi1kNGE0LTQ1OTktOWI0YS1iNGI2ZjAzNjE2NGMiLCJ1dGxfc3BrdXRpbGlzYXRldXIiOjEsInV0bF91dGlsaXNhdGV1cl9yb2xlcyI6IlsxXSIsInV0bF9jcHJlbm9tIjoiR2F5bG9yZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJ1dGxfc2FwcGFydGVuYW5jZSI6WzIsMzhdLCJ1dGxfY25vbSI6IlBldGl0IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwibG9jYWxlIjoiZnIiLCJnaXZlbl9uYW1lIjoiR2F5bG9yZCIsInV0bF9zZmtpbnN0YW5jZSI6MSwidXRsX3NhZG1pbmlzdHJlciI6W10sIm5hbWUiOiJHYXlsb3JkIFBldGl0IiwidXRsX3Nkcm9pdHNhY2NlcyI6WzYwLDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3XSwiZmFtaWx5X25hbWUiOiJQZXRpdCIsImVtYWlsIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwidXNlcl9ncm91cHMiOlsyLDM4LDYwLDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3XX0.DGvq43C3ZqBNi7-ZUmrHXm5_iV7nC5gAo-d4cRhdYU8KjsB9N6i4IKxPFPnbalHJpZe9g4MGiZdWGbVYnBstuNcT5ioQOrlZP1BWUmN8Nkq-yYrnL3uHf7VB8mixOAu0b3kpF7r2XoytCvslDFBGaDcWGPJkIdMNFHw3fMKT-smjj1DTP01RuSUc-ItGHn3-CBBDkEocpwTTfBTEDEwcFZ1n69ct1XjYQPuNvKp2PCoje3Y68h6tGSllhOp6ikksx7-inXvMZ6u9ucoshrAkBvb2PLTkQ6cEZxdqz-ymJQsx4N3pxp71-S0xAsSFM8l9JlQ4Ittkmz1ReDkEKi0Vpw'

headers={'Authorization': f'{access_token}',
             'Content-Type':'application/json'}

In [21]:
url = 'http://127.0.0.1:8000/get_data_task_assigner'
res = requests.get(url)

In [23]:
from my_module.task_assigner import *

In [86]:
def test_validite_mathematique_solution(solution):
    solution = pd.DataFrame(solution)
    assert all(solution['duree_assignee'] >=0), "Un nombre d'heure négatif a été assigné."
    assert all(solution['duree_assignee'] <= solution['tsk_lgt']), "La durée assignée pour certaines tâches excède celle leur durée."

def test_stat_cmp(stat_cmp):
    stat_cmp = pd.DataFrame(stat_cmp)
    assert all(stat_cmp['total_h_non_assignees'] >=0), "ValueError dans total_h_non_assignee"
    assert all(stat_cmp[~stat_cmp['niveau_cmp_moyen_par_h_realisee'].isna()]['niveau_cmp_moyen_par_h_realisee'] <= 3),"Mauvais calcul du niveau moyen d'exécution dune tache : > 3."
    assert all(stat_cmp[~stat_cmp['niveau_cmp_moyen_par_h_realisee'].isna()]['niveau_cmp_moyen_par_h_realisee'] >= 0),"Mauvais calcul du niveau moyen d'exécution dune tache : < 0."


def test_stat_utl(stat_utl):
    stat_utl = pd.DataFrame(stat_utl)
    assert all(stat_utl.taux_occupation.apply(pd.notna)), "TypeError: les données de taux d'occupation contiennent des NaN."
    assert all(stat_utl.taux_occupation.apply(lambda x: (isinstance(x, float) or isinstance(x, int)) and x >= 0 and x <= 1 ) ), "TypeError: les données de taux d'occupation sont incorrectes."
    assert all(stat_utl.dsp_utl.apply(pd.notna)), "TypeError: les données de disponibilités totales contiennent des NaN."
    assert all(stat_utl.dsp_utl.apply(lambda x: (isinstance(x, float) or isinstance(x, int)) and x >= 0 ) ), "TypeError: les données de disponibilités totales sont incorrectes."
    assert all(stat_utl.dsp_utl.apply(lambda x: x >= 0 )), "TypeError: Certaines données de disponibilités totales sont négatives."
    assert all(stat_utl['total_h_assignees'] <= stat_utl['dsp_utl']  ), "Certains utilisateurs sont trop chargés par rapport à leurs disponibiltés."
    assert all(stat_utl['niveau_moyen_execution_tsk'] <= 3), "Le calcul du niveau moyen d'exécution d'une tache par unité de temps est FAUX."
    assert all(stat_utl['niveau_moyen_execution_tsk'] >= 0), "Le calcul du niveau moyen d'exécution d'une tache par unité de temps est FAUX."

def test_stat_prj(stat_prj):
    stat_prj = pd.DataFrame(stat_prj)
    assert all(stat_prj['total_h_non_assignees'] >=0), "ValueError dans temps_total_non_assigne"
    assert all(stat_prj.n_missing_cmp_per_prj.apply(lambda x: isinstance(x,int))), "ValueError: Le nombre de compétences manquantes par projet n'est pas toujours un entier."

def test_stat_tsk(stat_tsk):
    stat_tsk = pd.DataFrame(stat_tsk)
    assert all(stat_tsk.n_utl_per_tsk.apply(lambda x: isinstance(x,int))), "ValueError: Le nombre d'utilisateurs par tache n'est pas toujours un entier."

In [87]:
import requests
url = 'http://127.0.0.1:8000/solve'
OUT = requests.get(url)

In [85]:
OUT.json()

{'solution': {'prj': {'0': 10090,
   '4': 10090,
   '5': 10090,
   '6': 10090,
   '7': 10090,
   '8': 10090,
   '9': 10090,
   '10': 10090,
   '11': 10090,
   '12': 10090,
   '13': 10090,
   '14': 10090,
   '15': 10090,
   '1': 10091,
   '2': 10091,
   '3': 10091},
  'tsk': {'0': 1136,
   '4': 1270,
   '5': 1283,
   '6': 1286,
   '7': 1287,
   '8': 1289,
   '9': 1292,
   '10': 1293,
   '11': 1305,
   '12': 1306,
   '13': 1307,
   '14': 1308,
   '15': 1322,
   '1': 1201,
   '2': 1209,
   '3': 1210},
  'utl': {'0': 23,
   '4': 23,
   '5': 23,
   '6': 23,
   '7': 23,
   '8': 23,
   '9': 23,
   '10': 23,
   '11': 23,
   '12': 23,
   '13': 23,
   '14': 23,
   '15': 23,
   '1': 10,
   '2': 10,
   '3': 10},
  'duree_assignee': {'0': 1.0,
   '4': 2.0,
   '5': 3.0,
   '6': 2.0,
   '7': 0.5,
   '8': 1.5,
   '9': 1.5,
   '10': 2.5,
   '11': 2.25,
   '12': 1.5,
   '13': 1.5,
   '14': 2.5,
   '15': 2.0,
   '1': 2.0,
   '2': 1.0,
   '3': 1.0},
  'tsk_lgt': {'0': 1.0,
   '4': 2.0,
   '5': 3.0,
   '6': 2.0,
   '7': 0.5,
   '8': 1.5,
   '9': 1.5,
   '10': 2.5,
   '11': 2.25,
   '12': 1.5,
   '13': 1.5,
   '14': 2.5,
   '15': 2.0,
   '1': 2.0,
   '2': 1.0,
   '3': 1.0},
  'duree_non_assignee': {'0': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0,
   '8': 0.0,
   '9': 0.0,
   '10': 0.0,
   '11': 0.0,
   '12': 0.0,
   '13': 0.0,
   '14': 0.0,
   '15': 0.0,
   '1': 0.0,
   '2': 0.0,
   '3': 0.0},
  'dsp_utl': {'0': 88,
   '4': 88,
   '5': 88,
   '6': 88,
   '7': 88,
   '8': 88,
   '9': 88,
   '10': 88,
   '11': 88,
   '12': 88,
   '13': 88,
   '14': 88,
   '15': 88,
   '1': 76,
   '2': 76,
   '3': 76},
  'cmp': {'0': 1026941,
   '4': 1045859,
   '5': 1045859,
   '6': 1045861,
   '7': 1045859,
   '8': 1045859,
   '9': 1045864,
   '10': 1045863,
   '11': 1045859,
   '12': 1039630,
   '13': 1045859,
   '14': 1045859,
   '15': 1045861,
   '1': 1025759,
   '2': 1025759,
   '3': 1025759},
  'lvl': {'0': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0,
   '8': 0.0,
   '9': 0.0,
   '10': 0.0,
   '11': 0.0,
   '12': 0.0,
   '13': 0.0,
   '14': 0.0,
   '15': 0.0,
   '1': 0.0,
   '2': 0.0,
   '3': 0.0}},
 'statistics_for': {'cmp': {'cmp': {'0': 1025759,
    '1': 1026941,
    '2': 1039630,
    '3': 1045859,
    '4': 1045861,
    '5': 1045863,
    '6': 1045864},
   'niveau_cmp_moyen_par_h_realisee': {'0': 0.0,
    '1': 0.0,
    '2': 0.0,
    '3': 0.0,
    '4': 0.0,
    '5': 0.0,
    '6': 0.0},
   'total_h_non_assignees': {'0': 0.0,
    '1': 0.0,
    '2': 0.0,
    '3': 0.0,
    '4': 0.0,
    '5': 0.0,
    '6': 0.0}},
  'utl': {'utl': {'0': 10, '1': 23},
   'niveau_moyen_execution_tsk': {'0': 0.0, '1': 0.0},
   'total_h_assignees': {'0': 4.0, '1': 23.75},
   'dsp_utl': {'0': 76, '1': 88},
   'taux_occupation': {'0': 0.05, '1': 0.27}},
  'tsk': {'tsk': {'0': 1136,
    '1': 1201,
    '2': 1209,
    '3': 1210,
    '4': 1270,
    '5': 1283,
    '6': 1286,
    '7': 1287,
    '8': 1289,
    '9': 1292,
    '10': 1293,
    '11': 1305,
    '12': 1306,
    '13': 1307,
    '14': 1308,
    '15': 1322},
   'n_utl_per_tsk': {'0': 1,
    '1': 1,
    '2': 1,
    '3': 1,
    '4': 1,
    '5': 1,
    '6': 1,
    '7': 1,
    '8': 1,
    '9': 1,
    '10': 1,
    '11': 1,
    '12': 1,
    '13': 1,
    '14': 1,
    '15': 1},
   'pct_assignation_tache': {'0': 100,
    '1': 100,
    '2': 100,
    '3': 100,
    '4': 100,
    '5': 100,
    '6': 100,
    '7': 100,
    '8': 100,
    '9': 100,
    '10': 100,
    '11': 100,
    '12': 100,
    '13': 100,
    '14': 100,
    '15': 100}},
  'prj': {'prj': {'0': 10090, '1': 10091},
   'total_h_non_assignees': {'0': 0.0, '1': 0.0},
   'n_missing_cmp_per_prj': {'0': 0, '1': 0}}},
 'validite_solution': False}

In [82]:
test_validite_mathematique_solution(OUT['solution'])
test_stat_cmp(OUT['statistics_for']['cmp'])
test_stat_utl(OUT['statistics_for']['utl'])
test_stat_prj(OUT['statistics_for']['prj'])
test_stat_tsk(OUT['statistics_for']['tsk'])

TypeError: 'Response' object is not subscriptable

In [76]:
def test_solution(OUT):
    success = True
    try :
        test_validite_mathematique_solution(OUT['solution'])
        test_stat_cmp(OUT['stat_cmp'])
        test_stat_utl(OUT['stat_utl'])
        test_stat_prj(OUT['stat_prj'])
        test_stat_tsk(OUT['stat_tsk'])
    except:
        success = False

    return success
test_solution(OUT)

False

In [59]:
pd.DataFrame(OUT['solution'])

,prj,tsk,utl,duree_assignee,tsk_lgt,duree_non_assignee,dsp_utl,cmp,lvl
0,10090,1136,23,1.00,1.00,0.0,39,1026941,0.0
4,10090,1270,23,2.00,2.00,0.0,39,1045859,0.0
5,10090,1283,23,3.00,3.00,0.0,39,1045859,0.0
6,10090,1286,23,2.00,2.00,0.0,39,1045861,0.0
7,10090,1287,23,0.50,0.50,0.0,39,1045859,0.0
8,10090,1289,23,1.50,1.50,0.0,39,1045859,0.0
9,10090,1292,23,1.50,1.50,0.0,39,1045864,0.0
10,10090,1293,23,2.50,2.50,0.0,39,1045863,0.0
11,10090,1305,23,2.25,2.25,0.0,39,1045859,0.0
12,10090,1306,23,1.50,1.50,0.0,39,1039630,0.0
13,10090,1307,23,1.50,1.50,0.0,39,1045859,0.0
14,10090,1308,23,2.50,2.50,0.0,39,1045859,0.0
15,10090,1322,23,2.00,2.00,0.0,39,1045861,0.0
1,10091,1201,10,2.00,2.00,0.0,3,1025759,0.0
2,10091,1209,10,1.00,1.00,0.0,3,1025759,0.0
3,10091,1210,9,1.00,1.00,0.0,99,1025759,0.0

In [64]:
pd.DataFrame(OUT['statistics_for']['tsk'])

     tsk  n_utl_per_tsk  pct_assignation_tache
0   1136              1                    100
1   1201              1                    100
2   1209              1                    100
3   1210              1                    100
4   1270              1                    100
5   1283              1                    100
6   1286              1                    100
7   1287              1                    100
8   1289              1                    100
9   1292              1                    100
10  1293              1                    100
11  1305              1                    100
12  1306              1                    100
13  1307              1                    100
14  1308              1                    100
15  1322              1                    100

In [30]:
OUT = res.json()
OUT

{'solution': {'prj': {'0': 10090,
   '4': 10090,
   '5': 10090,
   '6': 10090,
   '7': 10090,
   '8': 10090,
   '9': 10090,
   '10': 10090,
   '11': 10090,
   '12': 10090,
   '13': 10090,
   '14': 10090,
   '15': 10090,
   '1': 10091,
   '2': 10091,
   '3': 10091},
  'tsk': {'0': 1136,
   '4': 1270,
   '5': 1283,
   '6': 1286,
   '7': 1287,
   '8': 1289,
   '9': 1292,
   '10': 1293,
   '11': 1305,
   '12': 1306,
   '13': 1307,
   '14': 1308,
   '15': 1322,
   '1': 1201,
   '2': 1209,
   '3': 1210},
  'utl': {'0': 23,
   '4': 23,
   '5': 23,
   '6': 23,
   '7': 23,
   '8': 23,
   '9': 23,
   '10': 23,
   '11': 23,
   '12': 23,
   '13': 23,
   '14': 23,
   '15': 23,
   '1': 10,
   '2': 10,
   '3': 9},
  'duree_assignee': {'0': 1.0,
   '4': 2.0,
   '5': 3.0,
   '6': 2.0,
   '7': 0.5,
   '8': 1.5,
   '9': 1.5,
   '10': 2.5,
   '11': 2.25,
   '12': 1.5,
   '13': 1.5,
   '14': 2.5,
   '15': 2.0,
   '1': 2.0,
   '2': 1.0,
   '3': 1.0},
  'tsk_lgt': {'0': 1.0,
   '4': 2.0,
   '5': 3.0,
   '6': 2.0,
   '7': 0.5,
   '8': 1.5,
   '9': 1.5,
   '10': 2.5,
   '11': 2.25,
   '12': 1.5,
   '13': 1.5,
   '14': 2.5,
   '15': 2.0,
   '1': 2.0,
   '2': 1.0,
   '3': 1.0},
  'duree_non_assignee': {'0': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0,
   '8': 0.0,
   '9': 0.0,
   '10': 0.0,
   '11': 0.0,
   '12': 0.0,
   '13': 0.0,
   '14': 0.0,
   '15': 0.0,
   '1': 0.0,
   '2': 0.0,
   '3': 0.0},
  'dsp_utl': {'0': 39,
   '4': 39,
   '5': 39,
   '6': 39,
   '7': 39,
   '8': 39,
   '9': 39,
   '10': 39,
   '11': 39,
   '12': 39,
   '13': 39,
   '14': 39,
   '15': 39,
   '1': 3,
   '2': 3,
   '3': 99},
  'cmp': {'0': 1026941,
   '4': 1045859,
   '5': 1045859,
   '6': 1045861,
   '7': 1045859,
   '8': 1045859,
   '9': 1045864,
   '10': 1045863,
   '11': 1045859,
   '12': 1039630,
   '13': 1045859,
   '14': 1045859,
   '15': 1045861,
   '1': 1025759,
   '2': 1025759,
   '3': 1025759},
  'lvl': {'0': 0.0,
   '4': 0.0,
   '5': 0.0,
   '6': 0.0,
   '7': 0.0,
   '8': 0.0,
   '9': 0.0,
   '10': 0.0,
   '11': 0.0,
   '12': 0.0,
   '13': 0.0,
   '14': 0.0,
   '15': 0.0,
   '1': 0.0,
   '2': 0.0,
   '3': 0.0}},
 'statistics_for': {'cmp': {'cmp': {'0': 1025759,
    '1': 1026941,
    '2': 1039630,
    '3': 1045859,
    '4': 1045861,
    '5': 1045863,
    '6': 1045864},
   'niveau_cmp_moyen_par_h_realisee': {'0': 0.0,
    '1': 0.0,
    '2': 0.0,
    '3': 0.0,
    '4': 0.0,
    '5': 0.0,
    '6': 0.0},
   'total_h_non_assignees': {'0': 0.0,
    '1': 0.0,
    '2': 0.0,
    '3': 0.0,
    '4': 0.0,
    '5': 0.0,
    '6': 0.0}},
  'utl': {'utl': {'0': 9, '1': 10, '2': 23},
   'niveau_moyen_execution_tsk': {'0': 0.0, '1': 0.0, '2': 0.0},
   'total_h_assignees': {'0': 1.0, '1': 3.0, '2': 23.75},
   'dsp_utl': {'0': 99, '1': 3, '2': 39},
   'taux_occupation': {'0': 0.01, '1': 1.0, '2': 0.61}},
  'tsk': {'tsk': {'0': 1136,
    '1': 1201,
    '2': 1209,
    '3': 1210,
    '4': 1270,
    '5': 1283,
    '6': 1286,
    '7': 1287,
    '8': 1289,
    '9': 1292,
    '10': 1293,
    '11': 1305,
    '12': 1306,
    '13': 1307,
    '14': 1308,
    '15': 1322},
   'n_utl_per_tsk': {'0': 1,
    '1': 1,
    '2': 1,
    '3': 1,
    '4': 1,
    '5': 1,
    '6': 1,
    '7': 1,
    '8': 1,
    '9': 1,
    '10': 1,
    '11': 1,
    '12': 1,
    '13': 1,
    '14': 1,
    '15': 1},
   'pct_assignation_tache': {'0': 100,
    '1': 100,
    '2': 100,
    '3': 100,
    '4': 100,
    '5': 100,
    '6': 100,
    '7': 100,
    '8': 100,
    '9': 100,
    '10': 100,
    '11': 100,
    '12': 100,
    '13': 100,
    '14': 100,
    '15': 100}},
  'prj': {'prj': {'0': 10090, '1': 10091},
   'total_h_non_assignees': {'0': 0.0, '1': 0.0},
   'n_missing_cmp_per_prj': {'0': 0, '1': 0}}}}