### development data:

In [1]:
url = 'https://development.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJydXRUeHJ5dlltOUVZcGhpRjRxak45ajFvTktLNnU4YUhuM1QySFFSUU5FIn0.eyJleHAiOjE2NjgzNTY4NTEsImlhdCI6MTY2ODMzODg1MSwiYXV0aF90aW1lIjoxNjY4MzM4ODUwLCJqdGkiOiIyMjRiNjVmZC0zYjUwLTRmYjctYTJkMS1hNjEzNTY4Y2U3ZWYiLCJpc3MiOiJodHRwczovL2RldmVsb3BtZW50LmF1dGgud2FuZGVlZC5jb20vYXV0aC9yZWFsbXMvd2FuZGVlZC1yZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzMWZmODY3NC1iOGZhLTQyMmYtYWM3NC02YzFjZGI2YTUwZGUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ3YW5kZWVkLWNsaWVudCIsIm5vbmNlIjoiMzc0ZGY2OTYtZDcwNi00NTIwLTg4MDgtODViN2JmOGNiMDkxIiwic2Vzc2lvbl9zdGF0ZSI6IjFkNmE1NjQ1LWQ4MGYtNDI1Zi05NWVhLTQ3NzI1YjNhMDhmMiIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cHM6Ly8qLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXBpLndhbmRlZWQuY29tLyoiLCIqIiwiaHR0cHM6Ly8qLmFkbWluLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXV0aC53YW5kZWVkLmNvbSJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiZGVmYXVsdC1yb2xlcy13YW5kZWVkLXJlYWxtIiwib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoib3BlbmlkIGVtYWlsIHByb2ZpbGUiLCJzaWQiOiIxZDZhNTY0NS1kODBmLTQyNWYtOTVlYS00NzcyNWIzYTA4ZjIiLCJ1dGxfc3BrdXRpbGlzYXRldXIiOjEsInV0bF91dGlsaXNhdGV1cl9yb2xlcyI6IlsxXSIsInV0bF9jcHJlbm9tIjoiR2F5bG9yZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJ1dGxfc2FwcGFydGVuYW5jZSI6WzIsMzhdLCJ1dGxfY25vbSI6IlBldGl0IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwibG9jYWxlIjoiZnIiLCJnaXZlbl9uYW1lIjoiR2F5bG9yZCIsInV0bF9zZmtpbnN0YW5jZSI6MSwidXRsX3NhZG1pbmlzdHJlciI6W10sIm5hbWUiOiJHYXlsb3JkIFBldGl0IiwidXRsX3Nkcm9pdHNhY2NlcyI6WzMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3LDYwLDYzLDY0LDY1LDY2LDY3LDY4LDY5LDcwLDcxLDcyLDczLDc0LDc1LDc2LDc3LDc4XSwiZmFtaWx5X25hbWUiOiJQZXRpdCIsImVtYWlsIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwidXNlcl9ncm91cHMiOlsyLDM4LDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3LDYwLDYzLDY0LDY1LDY2LDY3LDY4LDY5LDcwLDcxLDcyLDczLDc0LDc1LDc2LDc3LDc4XX0.TQih5SGeV2fsitnmnvDLbjFYTh5US0s3c9q8wWShC9ts0XEQSaOQA_7_ssXNPoPGIp-8v8sL7h7GMUKIUDiyHau9Ko43YhabzhM7xmXRTEci75eNkplnTIMEmQb2XMzwkGoOV4pLjQN4eVOJtwokso8BrLMgEExO5A8kAAPjL_bTgl3hC3AZLUL4Xhkjs0jrsZdD_57V4heyhwCJqg1HCHtDkHrTLx95EZeaRQ-fpTJrLzPHo_E7ce-EL8PMoPpySUpKBpIsn_C02bG1sET7TgbbkLX172rCI_xa1kNMXbKCgB3eEerGNxPh52Af_Bu4DJGam5ie4y72ImaAb4Japw'
headers={'Authorization': f'{access_token}',
          'Content-Type':'application/json'}

### teamber data:

In [15]:
url = 'https://teamber.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJLQ01VZlkwNDZJSF9vOFo2SmUzaUF2cTRXc21yQkFrdGRTU18wZjNzMmlzIn0.eyJleHAiOjE2NzAxNzE0MTQsImlhdCI6MTY3MDE1MzQxNCwiYXV0aF90aW1lIjoxNjcwMTUzNDEzLCJqdGkiOiIzOTgzNmY2My1lYWI5LTQzN2EtOTM1OS0xYzYxMTAzYjQyZTAiLCJpc3MiOiJodHRwczovL3RlYW1iZXIuYXV0aC53YW5kZWVkLmNvbS9hdXRoL3JlYWxtcy93YW5kZWVkLXJlYWxtIiwiYXVkIjoiYWNjb3VudCIsInN1YiI6IjVkNDc5Y2QxLTgyZTUtNGI3Ni04ZGZjLTE0Y2Q4N2ZlOWIzMyIsInR5cCI6IkJlYXJlciIsImF6cCI6IndhbmRlZWQtY2xpZW50Iiwibm9uY2UiOiJjNDQ3YTAwOC02M2E5LTRiNjYtODRhMC05MjI5MmVkMjU2NjYiLCJzZXNzaW9uX3N0YXRlIjoiZDY2MjJhMjItZTc5Mi00Y2E2LWIzMWYtMzQyMDMxZTU5N2QzIiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwczovLyoud2FuZGVlZC5jb20vKiIsImh0dHBzOi8vKi5hcGkud2FuZGVlZC5jb20vKiIsIioiLCJodHRwczovLyouYWRtaW4ud2FuZGVlZC5jb20vKiIsImh0dHBzOi8vKi5hdXRoLndhbmRlZWQuY29tIl0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJkZWZhdWx0LXJvbGVzLXdhbmRlZWQtcmVhbG0iLCJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJvcGVuaWQgZW1haWwgcHJvZmlsZSIsInNpZCI6ImQ2NjIyYTIyLWU3OTItNGNhNi1iMzFmLTM0MjAzMWU1OTdkMyIsInV0bF9zcGt1dGlsaXNhdGV1ciI6Mjk2LCJ1dGxfY3ByZW5vbSI6IkdheWxvcmQiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwidXRsX3V0aWxpc2F0ZXVyX3JvbGVzIjoiWzFdIiwidXRsX3NhcHBhcnRlbmFuY2UiOlsxMjJdLCJ1dGxfY25vbSI6IlBFVElUIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwiZ2l2ZW5fbmFtZSI6IkdheWxvcmQiLCJ1dGxfc2ZraW5zdGFuY2UiOjEsInV0bF9zYWRtaW5pc3RyZXIiOltdLCJuYW1lIjoiR2F5bG9yZCBQRVRJVCIsInV0bF9zZHJvaXRzYWNjZXMiOlsxMjAsMTIzLDEyNSwxMjYsMTI3LDIyMiwyNjQsMjY1LDI2NiwyNjcsMjY4LDI3MSwyNzIsMjczLDI3NCwyNzUsMjc2LDI3NywyNjksMjcwLDI4MSwyODJdLCJmYW1pbHlfbmFtZSI6IlBFVElUIiwiZW1haWwiOiJnYXlsb3JkLnBldGl0QHRlYW1iZXIuZnIiLCJ1c2VyX2dyb3VwcyI6WzEyMiwxMjAsMTIzLDEyNSwxMjYsMTI3LDIyMiwyNjQsMjY1LDI2NiwyNjcsMjY4LDI3MSwyNzIsMjczLDI3NCwyNzUsMjc2LDI3NywyNjksMjcwLDI4MSwyODJdfQ.AS8VrmefNoBdomjx6dbeHuhYVN_WbSnjQ4aQJrp_XrbFRGWu6IOYuJrlGFC1AM2VNunmXv3k49Kvf7gZ2Nv7G36i7q3giOboEr6PI3Gk1JfwUI0-HjcfzZ7Lkdmm1o5YAY0GIqDDb2UPmlVdlDdbn8tOZcUjBa1QMq8ANiPN9jmDY02btggc0wmvVaNf9Qgb4XypCD7ygzcYFIRa1fty_UpaqOVq94LrRVicsHYJLmFsyTWjk_Eehg-mrBc1MxYb2FMDey3ePSe2QgFaI1PWZ1lr9iDxB3zKepjZyTk5wnGucgNVSLqw7-UUj8TIj2C_OuAsJm5GBB9gUhzYCTsr_A'
headers={'Authorization': f'{access_token}',
             'Content-Type':'application/json'}

## requêtes pour les tâches non planifiées :

In [21]:
date_start  = "2022-10-03T06:31:00.000Z"
date_end = "2022-12-15T07:00:00.000Z"

from api.back_connector.planning_optimizer import fetch_data

In [22]:
imperatifs, horaires, taches, utilisateurs_avec_taches_sans_horaires = fetch_data(url, access_token, date_start, date_end, {})

In [26]:
utilisateurs_avec_taches_sans_horaires

[20192,
 20193,
 28389,
 24875,
 18767,
 18710,
 18711,
 28409,
 20188,
 20189,
 20190,
 20191]

In [4]:
taches.keys()

dict_keys([])

In [5]:
horaires.keys()

dict_keys([])

In [6]:
utilisateurs_avec_taches_sans_horaires

[20192,
 20193,
 28419,
 28389,
 28423,
 24875,
 18767,
 18711,
 28409,
 20188,
 20189,
 20190,
 20191]

## With mocked data :

In [1]:
from api.services.planning_optimizer.tests.data_mocker import mock_back_data
ex_date_start = "2022-09-05 09:00:00+0000"
ex_date_end   = "2022-09-09 16:00:00+0000"
taches, horaires, imperatifs = mock_back_data(ex_date_start, ex_date_end)

Attention, les impératis mockées sont disponibles uniquement entre 2022-09-05 08:30:00+0000 et           2022-09-08 15:30:00+0000

In [2]:
ex_taches = list(taches.values())[0]
ex_horaires = list(horaires.values())[0]
ex_imperatifs = list(imperatifs.values())[0]

In [3]:
from api.services.planning_optimizer.solver.tools.taches import split_tasks
ex_splitted_taches = split_tasks(ex_taches)

In [4]:
from api.services.planning_optimizer.solver.planning.ordonnancement import Ordonnancement
from api.services.planning_optimizer.solver.planning.horaires import make_base, find_sections_ends

In [21]:
import pandas as pd
from api.services.planning_optimizer.solver.planning.horaires import compute_availabilities

    
    
compute_availabilities(ex_horaires, ex_imperatifs, ex_date_start, ex_date_end)

{'timestamp_debut': {0: Timestamp('2022-09-05 09:30:00+0000', tz='UTC'),
  1: Timestamp('2022-09-05 11:30:00+0000', tz='UTC'),
  2: Timestamp('2022-09-06 06:30:00+0000', tz='UTC'),
  3: Timestamp('2022-09-06 10:00:00+0000', tz='UTC'),
  4: Timestamp('2022-09-06 11:30:00+0000', tz='UTC'),
  5: Timestamp('2022-09-07 06:30:00+0000', tz='UTC'),
  6: Timestamp('2022-09-07 08:45:00+0000', tz='UTC'),
  7: Timestamp('2022-09-07 11:30:00+0000', tz='UTC'),
  8: Timestamp('2022-09-07 14:10:00+0000', tz='UTC'),
  9: Timestamp('2022-09-08 06:30:00+0000', tz='UTC'),
  10: Timestamp('2022-09-08 10:30:00+0000', tz='UTC'),
  11: Timestamp('2022-09-09 07:00:00+0000', tz='UTC')},
 'timestamp_fin': {0: Timestamp('2022-09-05 10:30:00+0000', tz='UTC'),
  1: Timestamp('2022-09-05 15:00:00+0000', tz='UTC'),
  2: Timestamp('2022-09-06 09:00:00+0000', tz='UTC'),
  3: Timestamp('2022-09-06 10:30:00+0000', tz='UTC'),
  4: Timestamp('2022-09-06 15:30:00+0000', tz='UTC'),
  5: Timestamp('2022-09-07 07:00:00+0000', tz='UTC'),
  6: Timestamp('2022-09-07 10:30:00+0000', tz='UTC'),
  7: Timestamp('2022-09-07 13:00:00+0000', tz='UTC'),
  8: Timestamp('2022-09-07 15:30:00+0000', tz='UTC'),
  9: Timestamp('2022-09-08 10:30:00+0000', tz='UTC'),
  10: Timestamp('2022-09-08 14:30:00+0000', tz='UTC'),
  11: Timestamp('2022-09-09 10:00:00+0000', tz='UTC')},
 'durée': {0: 1.0,
  1: 3.5,
  2: 2.5,
  3: 0.5,
  4: 4.0,
  5: 0.5,
  6: 1.75,
  7: 1.5,
  8: 1.3333333333333333,
  9: 4.0,
  10: 4.0,
  11: 3.0}}

In [12]:
ex_horaires.to_dict()

{'eeh_sfkperiode': {0: 0, 1: 0, 2: 1, 3: 1, 4: 2, 5: 2, 6: 3, 7: 3, 8: 4},
 'eeh_xheuredebut': {0: '06:30',
  1: '11:30',
  2: '06:30',
  3: '11:30',
  4: '06:30',
  5: '11:30',
  6: '06:30',
  7: '10:30',
  8: '07:00'},
 'eeh_xheurefin': {0: '10:30',
  1: '15:30',
  2: '10:30',
  3: '15:30',
  4: '10:30',
  5: '15:30',
  6: '10:30',
  7: '15:30',
  8: '10:00'}}

In [22]:
import unittest




        pd.testing.assert_frame_equal(output_func, self.expected_result)
t = TestComputeAvailabilities()
t.setUp()
t.test_compute_availabilities()

[(Timestamp('2022-09-05 09:30:00+0000', tz='UTC'),
  Timestamp('2022-09-05 15:00:00+0000', tz='UTC')),
 (Timestamp('2022-09-05 17:00:00+0000', tz='UTC'),
  Timestamp('2022-09-06 09:00:00+0000', tz='UTC')),
 (Timestamp('2022-09-06 10:00:00+0000', tz='UTC'),
  Timestamp('2022-09-07 07:00:00+0000', tz='UTC')),
 (Timestamp('2022-09-07 08:45:00+0000', tz='UTC'),
  Timestamp('2022-09-07 13:00:00+0000', tz='UTC')),
 (Timestamp('2022-09-07 14:10:00+0000', tz='UTC'),
  Timestamp('2022-09-08 14:30:00+0000', tz='UTC')),
 (Timestamp('2022-09-08 15:30:00+0000', tz='UTC'),
  Timestamp('2022-09-09 16:00:00+0000', tz='UTC'))]

In [ ]:
from ac

In [10]:
ex_imperatifs

,evt_spkevenement,evt_sfkprojet,lgl_sfkligneparent,evt_xdate_debut,evt_xdate_fin
0,1040,1404,2283,2022-09-05 08:30:00+00:00,2022-09-05 09:30:00+00:00
1,3302,2140,2283,2022-09-05 15:00:00+00:00,2022-09-05 17:00:00+00:00
2,3449,3790,2283,2022-09-06 09:00:00+00:00,2022-09-06 10:00:00+00:00
3,4743,4896,2283,2022-09-07 07:00:00+00:00,2022-09-07 08:15:00+00:00
4,7069,5363,2283,2022-09-07 07:30:00+00:00,2022-09-07 08:45:00+00:00
5,7105,8423,2283,2022-09-07 13:00:00+00:00,2022-09-07 14:10:00+00:00
6,9323,8534,2283,2022-09-08 14:30:00+00:00,2022-09-08 15:30:00+00:00

In [16]:
date_start, date_end

(Timestamp('2022-09-05 09:00:00+0000', tz='UTC'),
 Timestamp('2022-09-09 16:00:00+0000', tz='UTC'))

In [13]:
pd.concat(bases)

            timestamp_debut             timestamp_fin     durée
0 2022-09-05 09:00:00+00:00 2022-09-05 09:30:00+00:00  0.500000
0 2022-09-05 15:00:00+00:00 2022-09-05 15:30:00+00:00  0.500000
0 2022-09-06 09:00:00+00:00 2022-09-06 10:00:00+00:00  1.000000
0 2022-09-07 07:00:00+00:00 2022-09-07 08:15:00+00:00  1.250000
0 2022-09-07 13:00:00+00:00 2022-09-07 14:10:00+00:00  1.166667
0 2022-09-08 14:30:00+00:00 2022-09-08 15:30:00+00:00  1.000000

In [12]:
bases

[            timestamp_debut             timestamp_fin  durée
 0 2022-09-05 09:00:00+00:00 2022-09-05 09:30:00+00:00    0.5,
             timestamp_debut             timestamp_fin  durée
 0 2022-09-05 15:00:00+00:00 2022-09-05 15:30:00+00:00    0.5,
             timestamp_debut             timestamp_fin  durée
 0 2022-09-06 09:00:00+00:00 2022-09-06 10:00:00+00:00    1.0,
             timestamp_debut             timestamp_fin  durée
 0 2022-09-07 07:00:00+00:00 2022-09-07 08:15:00+00:00   1.25,
             timestamp_debut             timestamp_fin     durée
 0 2022-09-07 13:00:00+00:00 2022-09-07 14:10:00+00:00  1.166667,
             timestamp_debut             timestamp_fin  durée
 0 2022-09-08 14:30:00+00:00 2022-09-08 15:30:00+00:00    1.0]

In [83]:
fin_prochain_imp

Timestamp('2022-09-08 15:30:00+0000', tz='UTC')

In [78]:
imp

,evt_spkevenement,evt_sfkprojet,lgl_sfkligneparent,evt_xdate_debut,evt_xdate_fin
0,1842,2531,4,2022-09-05 08:30:00+00:00,2022-09-05 09:30:00+00:00
1,2947,3609,4,2022-09-05 15:00:00+00:00,2022-09-05 17:00:00+00:00
2,3156,4219,4,2022-09-06 09:00:00+00:00,2022-09-06 10:00:00+00:00
3,3175,5060,4,2022-09-07 07:00:00+00:00,2022-09-07 08:15:00+00:00
4,5438,5325,4,2022-09-07 08:00:00+00:00,2022-09-07 10:10:00+00:00
5,5675,7589,4,2022-09-07 13:00:00+00:00,2022-09-07 14:10:00+00:00
6,8884,9124,4,2022-09-08 14:30:00+00:00,2022-09-08 15:30:00+00:00

In [77]:
imp_restant

,evt_spkevenement,evt_sfkprojet,lgl_sfkligneparent,evt_xdate_debut,evt_xdate_fin
0,2947,3609,4,2022-09-05 15:00:00+00:00,2022-09-05 17:00:00+00:00
1,3156,4219,4,2022-09-06 09:00:00+00:00,2022-09-06 10:00:00+00:00
2,3175,5060,4,2022-09-07 07:00:00+00:00,2022-09-07 08:15:00+00:00
3,5438,5325,4,2022-09-07 08:00:00+00:00,2022-09-07 10:10:00+00:00
4,5675,7589,4,2022-09-07 13:00:00+00:00,2022-09-07 14:10:00+00:00
5,8884,9124,4,2022-09-08 14:30:00+00:00,2022-09-08 15:30:00+00:00

In [72]:
len(evt_a_cheval) >0

TypeError: object of type 'NoneType' has no len()

In [ ]:
out.

In [54]:
imp['evt_xdate_debut'].argmin()

0

In [52]:
imp = mock_imperatifs(4, ex_date_start, ex_date_end)
imp

,evt_spkevenement,evt_sfkprojet,lgl_sfkligneparent,evt_xdate_debut,evt_xdate_fin
0,1842,2531,4,2022-09-05 08:30:00+00:00,2022-09-05 09:30:00+00:00
1,2947,3609,4,2022-09-05 15:00:00+00:00,2022-09-05 17:00:00+00:00
2,3156,4219,4,2022-09-06 09:00:00+00:00,2022-09-06 10:00:00+00:00
3,3175,5060,4,2022-09-07 07:00:00+00:00,2022-09-07 08:15:00+00:00
4,5438,5325,4,2022-09-07 08:00:00+00:00,2022-09-07 10:10:00+00:00
5,5675,7589,4,2022-09-07 13:00:00+00:00,2022-09-07 14:10:00+00:00
6,8884,9124,4,2022-09-08 14:30:00+00:00,2022-09-08 15:30:00+00:00

In [45]:
out['evt_xdate_debut'] >= ex_date_start

0    False
1     True
2     True
3     True
4     True
5     True
Name: evt_xdate_debut, dtype: bool

In [7]:
ex_horaires

   eeh_sfkperiode eeh_xheuredebut eeh_xheurefin
0               0           06:30         10:30
1               0           11:30         15:30
2               1           06:30         10:30
3               1           11:30         15:30
4               2           06:30         10:30
5               2           11:30         15:30
6               3           06:30         10:30
7               3           10:30         15:30
8               4           07:00         10:00

In [44]:
base = base.loc[base['durée'] >= 3.5]

In [45]:
base

,timestamp_debut,timestamp_fin,duree,duréee,durée
1,2022-09-01 10:30:00+00:00,2022-09-01 15:30:00+00:00,0 days 05:00:00,5.0,5.0
3,2022-09-05 06:30:00+00:00,2022-09-05 10:30:00+00:00,0 days 04:00:00,4.0,4.0
4,2022-09-05 11:30:00+00:00,2022-09-05 15:30:00+00:00,0 days 04:00:00,4.0,4.0
5,2022-09-06 06:30:00+00:00,2022-09-06 10:30:00+00:00,0 days 04:00:00,4.0,4.0
6,2022-09-06 11:30:00+00:00,2022-09-06 15:30:00+00:00,0 days 04:00:00,4.0,4.0
7,2022-09-06 06:30:00+00:00,2022-09-06 16:00:00+00:00,0 days 09:30:00,9.5,9.5

In [13]:
help(make_base)

Help on function make_base in module api.services.planning_optimizer.solver.planning.horaires:

make_base(plages_horaires_df: pandas.core.frame.DataFrame, date_start: str, date_end: str, longueur_min_ph: float = 10.0) -> pandas.core.frame.DataFrame
    :param plages_horaires_df: pd.DataFrame des horaires d'un utilisateur
    :param date_start: str au format ISO, date de début du sprint
    :param date_end: str au format ISO, date de fin du sprint
    :param longueur_min_ph: float indiquant la durée minimale en heures d'une plage horaire sur laquelle
    on va planifier des tâches.

    :return df_ph: dataframe des plages horaires, chacune déterminées par un timestamp de début et de fin,
    des intervalles de temps sur lesquels des tâches vont pouvoir être planifiées.

In [8]:
import pandas as pd
class SimulatedAnnealingPlanning:
    def __init__(self, base: pd.DataFrame, tasks: pd.DataFrame):
        self.ordonnancement = Ordonnancement(list(tasks['id_part'].values))
        
sap = SimulatedAnnealingPlanning(None, ex_splitted_taches)

In [10]:
sap.ordonnancement.build_neighbour().ordonnancement

[0, 1, 6, 3, 4, 5, 2, 7]

In [179]:
ex_splitted_taches

,evt_dduree,evt_spkevenement,lgl_sfkligneparent,evt_sfkprojet,priorite,length,id_part
0,0.75,1075,2871,2842,0,0.75,0
1,3.25,1500,2871,9077,0,0.25,1
2,3.25,1500,2871,9077,0,1.00,2
3,3.25,1500,2871,9077,0,1.00,3
4,3.25,1500,2871,9077,0,1.00,4
5,3.25,3591,2871,9077,0,0.25,5
6,3.25,3591,2871,9077,0,1.00,6
7,3.25,3591,2871,9077,0,1.00,7
8,3.25,3591,2871,9077,0,1.00,8
9,0.25,5035,2871,2842,0,0.25,9
10,1.00,6391,2871,9077,0,1.00,10
11,1.50,8501,2871,9227,1,0.50,11
12,1.50,8501,2871,9227,1,1.00,12
13,0.75,9646,2871,9077,0,0.75,13

In [ ]:
from

In [134]:
df.to_dict()

{'evt_dduree': {0: 0.75, 1: 3.25, 2: 3.25, 3: 0.25, 4: 1.0, 5: 1.5, 6: 0.75},
 'evt_spkevenement': {0: 1075,
  1: 1500,
  2: 3591,
  3: 5035,
  4: 6391,
  5: 8501,
  6: 9646},
 'lgl_sfkligneparent': {0: 2871,
  1: 2871,
  2: 2871,
  3: 2871,
  4: 2871,
  5: 2871,
  6: 2871},
 'evt_sfkprojet': {0: 2842,
  1: 9077,
  2: 9077,
  3: 2842,
  4: 9077,
  5: 9227,
  6: 9077},
 'priorite': {0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 1, 6: 0},
 'n_parts': {0: 1, 1: 4, 2: 4, 3: 1, 4: 1, 5: 2, 6: 1},
 'n_filled_parts': {0: 0, 1: 3, 2: 3, 3: 0, 4: 1, 5: 1, 6: 0},
 'length': {0: 0.75, 1: 0.25, 2: 0.25, 3: 0.25, 4: 0.0, 5: 0.5, 6: 0.75}}

In [140]:
t = TestSplitTasks()
t.setUp()
t.test_split_task()

In [ ]:
from api

In [70]:
pd.DataFrame(row[1]).T

,evt_dduree,evt_spkevenement,lgl_sfkligneparent,evt_sfkprojet,priorite,n_parts,n_filled_parts,remaining
8,2.0,8684.0,1750.0,9715.0,1.0,2.0,2.0,0.0

In [13]:
import numpy as np
import pandas as pd
def split_tasks(df: pd.DataFrame, mod_lenght: float = 1):

    df["nb Morceaux ceil"] = np.ceil(df["evt_dduree"] / mod_lenght).astype(int)
    df["nb Morceaux plein"] = (df["evt_dduree"] // mod_lenght).astype(int)
    df["Restant"] = df["evt_dduree"] - mod_lenght * df["nb Morceaux plein"]

    ilocs = np.sum(
        [
            [id_tache] * nb_morceau
            for (id_tache, nb_morceau) in zip(df["evt_spkevenement"], df["nb Morceaux ceil"])
        ]
    )

    list_duree = np.array(
        np.sum(
            [
                [mod_lenght] * nb_morceau_plein + (restant != 0) * [restant]
                for duree, nb_morceau_plein, restant in zip(
                    df["evt_dduree"], df["nb Morceaux plein"], df["Restant"]
                )
            ]
        )
    )

    new_df = df.loc[ilocs]
    new_df["evt_dduree"] = list_duree
    new_df["id morceau"] = range(len(new_df))
    new_df.drop(
        ["nb Morceaux ceil", "nb Morceaux plein", "Restant"], axis=1, inplace=True
    )

    new_df.reset_index(drop=True, inplace=True)
    return new_df

In [14]:
split_tasks(taches[4799])

C:\Users\antoi\Documents\teamber-IA_microservice\venv\Lib\site-packages\numpy\core\fromnumeric.py:86: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

KeyError: "None of [Int64Index([1002, 1002, 1002, 1248, 1577, 1577, 1577, 3607, 3607, 3607, 5282,\n            5329, 6619, 6619, 6619, 6654, 6654, 7331, 7331, 7331, 7528, 7528,\n            7528, 7528, 8248, 8248],\n           dtype='int64')] are in the [index]"

import numpy as np

n_tasks = int(np.random.normal(25, 6))

In [15]:
from api.services.planning_optimizer.data_handlers.horaires import make_horaire_clean
from api.services.planning_optimizer.data_handlers.taches import make_clean_task, map_priorite, split_tsk_utl

dict_hor = make_horaire_clean(df_hor)
df_tsk = make_clean_task(df_tsk)

In [16]:
dict_hor

{311:    eeh_sfkperiode eeh_xheuredebut eeh_xheurefin
 0               0           06:30         10:30
 1               0           11:30         15:30
 2               1           06:30         10:30
 3               1           11:30         15:30
 4               2           06:30         10:30
 5               2           11:30         15:30
 6               3           06:30         10:30
 7               3           10:30         15:30
 8               4           07:00         10:00}

In [6]:
from module.tests.planning_optimizer.data_mocker import mock_dict_priorites_projets
dict_prio = mock_dict_priorites_projets(df_tsk)

df_tsk = map_priorite(df_tsk, dict_prio)

In [7]:
task_to_optimize_dict, missing_data_utl = split_tsk_utl(dict_hor, df_tsk)

## testing

In [8]:
from module.tests.planning_optimizer.data_mocker import mock_df_tsk

In [9]:
df_tsk = mock_df_tsk(dict_hor)

## ajout intersection avec impératifs : je suis bloqué, il me faut la bonne clé utilisateur

In [24]:
splitted_imp = split_imp(df_imp)

In [25]:
splitted_imp

{18711:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 0         0.5              4425               18711             96
 1         1.5              4423               18711             96
 6         0.5              3975               18711             99

             evt_xdate_debut             evt_xdate_fin
 0  2022-10-11T09:00:00.000Z  2022-10-11T09:15:00.000Z
 1  2022-10-11T07:00:00.000Z  2022-10-11T08:30:00.000Z
 6  2022-10-04T08:00:00.000Z  2022-10-04T09:00:00.000Z  ,
 20193:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 2         2.0              3794               20193            126
 7         1.0              3793               20193            126

             evt_xdate_debut             evt_xdate_fin
 2  2022-10-06T09:00:00.000Z  2022-10-06T11:00:00.000Z
 7  2022-10-06T07:30:00.000Z  2022-10-06T08:30:00.000Z  ,
 20188:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 3         1.5              4812               20188            126
 4         0.5              3934               20188            126

             evt_xdate_debut             evt_xdate_fin
 3  2022-10-12T12:00:00.000Z  2022-10-12T13:30:00.000Z
 4  2022-10-05T10:30:00.000Z  2022-10-05T11:00:00.000Z  ,
 20192:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 5         0.5              3483               20192            126
 8         0.5              4141               20192            126

             evt_xdate_debut             evt_xdate_fin
 5  2022-10-05T06:30:00.000Z  2022-10-05T07:00:00.000Z
 8  2022-10-05T13:30:00.000Z  2022-10-05T14:00:00.000Z  ,
 18767:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 9         0.5              3389               18767            108

             evt_xdate_debut             evt_xdate_fin
 9  2022-10-03T15:30:00.000Z  2022-10-03T16:00:00.000Z  }

In [23]:
df_tsk

    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet
0         3.00               375                 311           6556
1         0.50              1535                 311           6556
2         2.25              1654                 311           6556
3         3.75              2358                 311           6556
4         2.25              2439                 311           6556
5         3.50              3321                 311           6556
6         2.25              3533                 311           6556
7         1.75              3676                 311           6556
8         0.75              3804                 311           6556
9         0.50              3859                 311           6556
10        0.75              4872                 311           6556
11        0.25              5003                 311           6556
12        3.00              5034                 311           6556
13        3.25              5060                 311           6556
14        2.25              5095                 311           6556
15        0.75              5155                 311           6556
16        3.00              5839                 311           6556
17        0.50              6127                 311           6556
18        3.00              6299                 311           6556
19        0.75              6858                 311           6556
20        3.50              7102                 311           6556
21        3.25              8204                 311           6556
22        1.00              9297                 311           6556
23        3.50              9378                 311           6556
24        1.75              9843                 311           6556

In [10]:
dict_hor

{311:    eeh_sfkperiode eeh_xheuredebut eeh_xheurefin
 0               0           06:30         10:30
 1               0           11:30         15:30
 2               1           06:30         10:30
 3               1           11:30         15:30
 4               2           06:30         10:30
 5               2           11:30         15:30
 6               3           06:30         10:30
 7               3           10:30         15:30
 8               4           07:00         10:00}

In [11]:
make_df_ph(dict_hor[311], datein_isoformat, dateout_isoformat)

NameError: name 'make_df_ph' is not defined