### development data:

In [1]:
url = 'https://development.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJydXRUeHJ5dlltOUVZcGhpRjRxak45ajFvTktLNnU4YUhuM1QySFFSUU5FIn0.eyJleHAiOjE2NjgzNTY4NTEsImlhdCI6MTY2ODMzODg1MSwiYXV0aF90aW1lIjoxNjY4MzM4ODUwLCJqdGkiOiIyMjRiNjVmZC0zYjUwLTRmYjctYTJkMS1hNjEzNTY4Y2U3ZWYiLCJpc3MiOiJodHRwczovL2RldmVsb3BtZW50LmF1dGgud2FuZGVlZC5jb20vYXV0aC9yZWFsbXMvd2FuZGVlZC1yZWFsbSIsImF1ZCI6ImFjY291bnQiLCJzdWIiOiIzMWZmODY3NC1iOGZhLTQyMmYtYWM3NC02YzFjZGI2YTUwZGUiLCJ0eXAiOiJCZWFyZXIiLCJhenAiOiJ3YW5kZWVkLWNsaWVudCIsIm5vbmNlIjoiMzc0ZGY2OTYtZDcwNi00NTIwLTg4MDgtODViN2JmOGNiMDkxIiwic2Vzc2lvbl9zdGF0ZSI6IjFkNmE1NjQ1LWQ4MGYtNDI1Zi05NWVhLTQ3NzI1YjNhMDhmMiIsImFjciI6IjEiLCJhbGxvd2VkLW9yaWdpbnMiOlsiaHR0cHM6Ly8qLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXBpLndhbmRlZWQuY29tLyoiLCIqIiwiaHR0cHM6Ly8qLmFkbWluLndhbmRlZWQuY29tLyoiLCJodHRwczovLyouYXV0aC53YW5kZWVkLmNvbSJdLCJyZWFsbV9hY2Nlc3MiOnsicm9sZXMiOlsiZGVmYXVsdC1yb2xlcy13YW5kZWVkLXJlYWxtIiwib2ZmbGluZV9hY2Nlc3MiLCJ1bWFfYXV0aG9yaXphdGlvbiJdfSwicmVzb3VyY2VfYWNjZXNzIjp7ImFjY291bnQiOnsicm9sZXMiOlsibWFuYWdlLWFjY291bnQiLCJtYW5hZ2UtYWNjb3VudC1saW5rcyIsInZpZXctcHJvZmlsZSJdfX0sInNjb3BlIjoib3BlbmlkIGVtYWlsIHByb2ZpbGUiLCJzaWQiOiIxZDZhNTY0NS1kODBmLTQyNWYtOTVlYS00NzcyNWIzYTA4ZjIiLCJ1dGxfc3BrdXRpbGlzYXRldXIiOjEsInV0bF91dGlsaXNhdGV1cl9yb2xlcyI6IlsxXSIsInV0bF9jcHJlbm9tIjoiR2F5bG9yZCIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJ1dGxfc2FwcGFydGVuYW5jZSI6WzIsMzhdLCJ1dGxfY25vbSI6IlBldGl0IiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwibG9jYWxlIjoiZnIiLCJnaXZlbl9uYW1lIjoiR2F5bG9yZCIsInV0bF9zZmtpbnN0YW5jZSI6MSwidXRsX3NhZG1pbmlzdHJlciI6W10sIm5hbWUiOiJHYXlsb3JkIFBldGl0IiwidXRsX3Nkcm9pdHNhY2NlcyI6WzMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3LDYwLDYzLDY0LDY1LDY2LDY3LDY4LDY5LDcwLDcxLDcyLDczLDc0LDc1LDc2LDc3LDc4XSwiZmFtaWx5X25hbWUiOiJQZXRpdCIsImVtYWlsIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwidXNlcl9ncm91cHMiOlsyLDM4LDMsNCw1LDE1LDI1LDI2LDMzLDM0LDM1LDM2LDM3LDQwLDQxLDQ0LDQ1LDQ2LDQ3LDYwLDYzLDY0LDY1LDY2LDY3LDY4LDY5LDcwLDcxLDcyLDczLDc0LDc1LDc2LDc3LDc4XX0.TQih5SGeV2fsitnmnvDLbjFYTh5US0s3c9q8wWShC9ts0XEQSaOQA_7_ssXNPoPGIp-8v8sL7h7GMUKIUDiyHau9Ko43YhabzhM7xmXRTEci75eNkplnTIMEmQb2XMzwkGoOV4pLjQN4eVOJtwokso8BrLMgEExO5A8kAAPjL_bTgl3hC3AZLUL4Xhkjs0jrsZdD_57V4heyhwCJqg1HCHtDkHrTLx95EZeaRQ-fpTJrLzPHo_E7ce-EL8PMoPpySUpKBpIsn_C02bG1sET7TgbbkLX172rCI_xa1kNMXbKCgB3eEerGNxPh52Af_Bu4DJGam5ie4y72ImaAb4Japw'
headers={'Authorization': f'{access_token}',
          'Content-Type':'application/json'}

### teamber data:

In [1]:
url = 'https://teamber.api.wandeed.com/api/lst/search?offset=0&limit=500'
access_token = 'Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJLQ01VZlkwNDZJSF9vOFo2SmUzaUF2cTRXc21yQkFrdGRTU18wZjNzMmlzIn0.eyJleHAiOjE2Njk1NzM1MDQsImlhdCI6MTY2OTU1NTUwNCwiYXV0aF90aW1lIjoxNjY5NTU1NTAzLCJqdGkiOiIwNGViM2UyZS0zMjY0LTQyNGQtOTBiMi0wMTZmMjJkZmNiYzIiLCJpc3MiOiJodHRwczovL3RlYW1iZXIuYXV0aC53YW5kZWVkLmNvbS9hdXRoL3JlYWxtcy93YW5kZWVkLXJlYWxtIiwiYXVkIjoiYWNjb3VudCIsInN1YiI6IjVkNDc5Y2QxLTgyZTUtNGI3Ni04ZGZjLTE0Y2Q4N2ZlOWIzMyIsInR5cCI6IkJlYXJlciIsImF6cCI6IndhbmRlZWQtY2xpZW50Iiwibm9uY2UiOiI5M2Q4ODRhOS0yZjY2LTQ4MGMtOGI4Yy00MWU1MmNjNDg4YzIiLCJzZXNzaW9uX3N0YXRlIjoiNTNlMDgwZjYtZGE5Yi00NjllLWFlNmEtN2MzNWE2NjJkNjI2IiwiYWNyIjoiMSIsImFsbG93ZWQtb3JpZ2lucyI6WyJodHRwczovLyoud2FuZGVlZC5jb20vKiIsImh0dHBzOi8vKi5hcGkud2FuZGVlZC5jb20vKiIsIioiLCJodHRwczovLyouYWRtaW4ud2FuZGVlZC5jb20vKiIsImh0dHBzOi8vKi5hdXRoLndhbmRlZWQuY29tIl0sInJlYWxtX2FjY2VzcyI6eyJyb2xlcyI6WyJkZWZhdWx0LXJvbGVzLXdhbmRlZWQtcmVhbG0iLCJvZmZsaW5lX2FjY2VzcyIsInVtYV9hdXRob3JpemF0aW9uIl19LCJyZXNvdXJjZV9hY2Nlc3MiOnsiYWNjb3VudCI6eyJyb2xlcyI6WyJtYW5hZ2UtYWNjb3VudCIsIm1hbmFnZS1hY2NvdW50LWxpbmtzIiwidmlldy1wcm9maWxlIl19fSwic2NvcGUiOiJvcGVuaWQgZW1haWwgcHJvZmlsZSIsInNpZCI6IjUzZTA4MGY2LWRhOWItNDY5ZS1hZTZhLTdjMzVhNjYyZDYyNiIsInV0bF9zcGt1dGlsaXNhdGV1ciI6Mjk2LCJ1dGxfY3ByZW5vbSI6IkdheWxvcmQiLCJlbWFpbF92ZXJpZmllZCI6dHJ1ZSwidXRsX3V0aWxpc2F0ZXVyX3JvbGVzIjoiWzFdIiwidXRsX3NhcHBhcnRlbmFuY2UiOlsxMjJdLCJ1dGxfY25vbSI6IlBFVElUIiwicHJlZmVycmVkX3VzZXJuYW1lIjoiZ2F5bG9yZC5wZXRpdEB0ZWFtYmVyLmZyIiwiZ2l2ZW5fbmFtZSI6IkdheWxvcmQiLCJ1dGxfc2ZraW5zdGFuY2UiOjEsInV0bF9zYWRtaW5pc3RyZXIiOltdLCJuYW1lIjoiR2F5bG9yZCBQRVRJVCIsInV0bF9zZHJvaXRzYWNjZXMiOlsxMjAsMTIzLDEyNSwxMjYsMTI3LDIyMiwyNjQsMjY1LDI2NiwyNjcsMjY4LDI3MSwyNzIsMjczLDI3NCwyNzUsMjc2LDI3NywyNjksMjcwLDI4MSwyODJdLCJmYW1pbHlfbmFtZSI6IlBFVElUIiwiZW1haWwiOiJnYXlsb3JkLnBldGl0QHRlYW1iZXIuZnIiLCJ1c2VyX2dyb3VwcyI6WzEyMiwxMjAsMTIzLDEyNSwxMjYsMTI3LDIyMiwyNjQsMjY1LDI2NiwyNjcsMjY4LDI3MSwyNzIsMjczLDI3NCwyNzUsMjc2LDI3NywyNjksMjcwLDI4MSwyODJdfQ.Q7tLC3gZ4ih7zhSbffcdDxEjvYPyPYN1LVwfUYGaUtCl_bpvIRsAtEuG-t10zPWNpBQblxsGe9RXJiri7WLngQD0f6RYZ9xsHhfofQdjEd-4KqFUwCaA5_gPk74381rxj-Y-R5-VxzD7N_uFBUl3zqMk7LD1Zq64-EgBxn8E5UFA6wbM1aAqs6-4y4Lwj8bv46Z6MlvGyZV3DZdjMY5wrWrNuxTnnfXkiC4GajuXb8N0JlhohphDplAGu7GQR-HwGG_Lkx1gzWRWQbS8OhEXrY7AHNNfO_dIPKZVxn7MFMuMy9K3TQ-FG0EVEXn-DGay3Vvbjm-T7rzoqlS6wH5S_g'
headers={'Authorization': f'{access_token}',
             'Content-Type':'application/json'}

## requêtes pour les tâches non planifiées :

In [2]:
date_start  = "2022-10-03T06:31:00.000Z"
date_end = "2022-10-15T07:00:00.000Z"

from api.back_connector.planning_optimizer import fetch_data

In [3]:
imperatifs, horaires, taches, utilisateurs_avec_taches_sans_horaires = fetch_data(url, access_token, date_start, date_end, {})

In [4]:
taches.keys()

dict_keys([])

In [5]:
horaires.keys()

dict_keys([])

In [6]:
utilisateurs_avec_taches_sans_horaires

[20192,
 20193,
 28419,
 28389,
 28423,
 24875,
 18767,
 18711,
 28409,
 20188,
 20189,
 20190,
 20191]

## With mocked data :

In [4]:
from api.services.planning_optimizer.tests.data_mocker import mock_back_data

taches, horaires, imperatifs = mock_back_data()

In [85]:
import numpy as np

n_tasks = int(np.random.normal(25, 6))

In [15]:
from api.services.planning_optimizer.data_handlers.horaires import make_horaire_clean
from api.services.planning_optimizer.data_handlers.taches import make_clean_task, map_priorite, split_tsk_utl

dict_hor = make_horaire_clean(df_hor)
df_tsk = make_clean_task(df_tsk)

In [16]:
dict_hor

{311:    eeh_sfkperiode eeh_xheuredebut eeh_xheurefin
 0               0           06:30         10:30
 1               0           11:30         15:30
 2               1           06:30         10:30
 3               1           11:30         15:30
 4               2           06:30         10:30
 5               2           11:30         15:30
 6               3           06:30         10:30
 7               3           10:30         15:30
 8               4           07:00         10:00}

In [6]:
from module.tests.planning_optimizer.data_mocker import mock_dict_priorites_projets
dict_prio = mock_dict_priorites_projets(df_tsk)

df_tsk = map_priorite(df_tsk, dict_prio)

In [7]:
task_to_optimize_dict, missing_data_utl = split_tsk_utl(dict_hor, df_tsk)

## testing

In [8]:
from module.tests.planning_optimizer.data_mocker import mock_df_tsk

In [9]:
df_tsk = mock_df_tsk(dict_hor)

## ajout intersection avec impératifs : je suis bloqué, il me faut la bonne clé utilisateur

In [24]:
splitted_imp = split_imp(df_imp)

In [25]:
splitted_imp

{18711:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 0         0.5              4425               18711             96
 1         1.5              4423               18711             96
 6         0.5              3975               18711             99

             evt_xdate_debut             evt_xdate_fin
 0  2022-10-11T09:00:00.000Z  2022-10-11T09:15:00.000Z
 1  2022-10-11T07:00:00.000Z  2022-10-11T08:30:00.000Z
 6  2022-10-04T08:00:00.000Z  2022-10-04T09:00:00.000Z  ,
 20193:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 2         2.0              3794               20193            126
 7         1.0              3793               20193            126

             evt_xdate_debut             evt_xdate_fin
 2  2022-10-06T09:00:00.000Z  2022-10-06T11:00:00.000Z
 7  2022-10-06T07:30:00.000Z  2022-10-06T08:30:00.000Z  ,
 20188:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 3         1.5              4812               20188            126
 4         0.5              3934               20188            126

             evt_xdate_debut             evt_xdate_fin
 3  2022-10-12T12:00:00.000Z  2022-10-12T13:30:00.000Z
 4  2022-10-05T10:30:00.000Z  2022-10-05T11:00:00.000Z  ,
 20192:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 5         0.5              3483               20192            126
 8         0.5              4141               20192            126

             evt_xdate_debut             evt_xdate_fin
 5  2022-10-05T06:30:00.000Z  2022-10-05T07:00:00.000Z
 8  2022-10-05T13:30:00.000Z  2022-10-05T14:00:00.000Z  ,
 18767:    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet  \
 9         0.5              3389               18767            108

             evt_xdate_debut             evt_xdate_fin
 9  2022-10-03T15:30:00.000Z  2022-10-03T16:00:00.000Z  }

In [23]:
df_tsk

    evt_dduree  evt_spkevenement  lgl_sfkligneparent  evt_sfkprojet
0         3.00               375                 311           6556
1         0.50              1535                 311           6556
2         2.25              1654                 311           6556
3         3.75              2358                 311           6556
4         2.25              2439                 311           6556
5         3.50              3321                 311           6556
6         2.25              3533                 311           6556
7         1.75              3676                 311           6556
8         0.75              3804                 311           6556
9         0.50              3859                 311           6556
10        0.75              4872                 311           6556
11        0.25              5003                 311           6556
12        3.00              5034                 311           6556
13        3.25              5060                 311           6556
14        2.25              5095                 311           6556
15        0.75              5155                 311           6556
16        3.00              5839                 311           6556
17        0.50              6127                 311           6556
18        3.00              6299                 311           6556
19        0.75              6858                 311           6556
20        3.50              7102                 311           6556
21        3.25              8204                 311           6556
22        1.00              9297                 311           6556
23        3.50              9378                 311           6556
24        1.75              9843                 311           6556

In [10]:
dict_hor

{311:    eeh_sfkperiode eeh_xheuredebut eeh_xheurefin
 0               0           06:30         10:30
 1               0           11:30         15:30
 2               1           06:30         10:30
 3               1           11:30         15:30
 4               2           06:30         10:30
 5               2           11:30         15:30
 6               3           06:30         10:30
 7               3           10:30         15:30
 8               4           07:00         10:00}

In [11]:
make_df_ph(dict_hor[311], datein_isoformat, dateout_isoformat)

NameError: name 'make_df_ph' is not defined